<div class="w-full flex items-center justify-center pt-4 ">
    <p-toast position="top-center"></p-toast>
    <form class=" sm:w-[90%] md:w-[80%]  lg:w-[60%] xl:w-[45%]  w-full shadow-lg  px-10 py-10" (ngSubmit)="addStudent()">
        <div class="space-y-12">
            <div class="border-b border-gray-900/10 pb-12">
                <h2 class="text-base font-semibold leading-7 text-gray-900">
                    Student Information
                </h2>
        

                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <label htmlFor="first-name" class="block text-sm font-medium leading-6 text-gray-900">
                            First name
                        </label>
                        <div class="mt-2">
                            <input type="text" name="first-name" id="first-name" placeholder="John" 
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none" [(ngModel)]="student.firstname" />
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label htmlFor="last-name" class="block text-sm font-medium leading-6 text-gray-900">
                            Last name
                        </label>
                        <div class="mt-2">
                            <input type="text" name="last-name" id="last-name" placeholder="doe" 
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none" [(ngModel)]="student.lastname" />
                        </div>
                    </div>

                    <div class="sm:col-span-4">
                        <label htmlFor="phone" class="block text-sm font-medium leading-6 text-gray-900">
                            Phone
                        </label>
                        <div class="mt-2">
                            <input id="phone" name="phone" type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none"  [(ngModel)]="student.phone"/>
                        </div>
                    </div>

                    <div class="sm:col-span-3">
                        <label htmlFor="gender" class="block text-sm font-medium leading-6 text-gray-900">
                            Gender
                        </label>
                        <div class="mt-2">
                            <select id="country" name="gender"
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 px-3 outline-none" [(ngModel)]="student.gender">
                                <option value="MALE">MALE</option>
                                <option value="FEMALE">FEMALE</option>
                            </select>
                        </div>
                    </div>

                    <!-- <div class="sm:col-span-3">
                        <label htmlFor="dob" class="block text-sm font-medium leading-6 text-gray-900">
                            Date of birth
                        </label>
                        <div class="mt-2">
                            <input type="date" name="dob" id="dob" placeholder="doe" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none" />
                        </div>
                    </div> -->

                    <div class="sm:col-span-3">
                        <label htmlFor="street-address" class="block text-sm font-medium leading-6 text-gray-900">
                            Street address
                        </label>
                        <div class="mt-2">
                            <input type="text" name="street-address" id="street-address" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none"[(ngModel)]="streetAddress" />
                        </div>
                    </div>

                    <div class="sm:col-span-2 sm:col-start-1">
                        <label htmlFor="city" class="block text-sm font-medium leading-6 text-gray-900">
                            City
                        </label>
                        <div class="mt-2">
                            <input type="text" name="city" id="city" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none" [(ngModel)]="city"/>
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label htmlFor="region" class="block text-sm font-medium leading-6 text-gray-900">
                            State / Province
                        </label>
                        <div class="mt-2">
                            <input type="text" name="region" id="region" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none"[(ngModel)]="state" />
                        </div>
                    </div>

                    <div class="sm:col-span-2">
                        <label htmlFor="postal-code" class="block text-sm font-medium leading-6 text-gray-900">
                            ZIP / Postal code
                        </label>
                        <div class="mt-2">
                            <input type="number" name="postal-code" id="postal-code" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300
              placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 px-3 outline-none" [(ngModel)]="zipcode" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-6 flex items-center justify-end gap-x-6">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900">
                Cancel
            </button>
            <Button type="submit"
                class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 " [disabled]="addStudentLoading" [class]="{'bg-indigo-500':addStudentLoading,'cursor-not-allowed':addStudentLoading}">
                <span  *ngIf="!addStudentLoading;else loading">Add Student</span>
                <ng-template #loading>please wait ...</ng-template>
            </Button>
        </div>
    </form>

</div>
